@CHARSET "ISO-8859-1";
div{
    float:left;
}

#header{
    width:100%;
    height: 20%;
   
}
#emails{
    width:79%;
    height: 60%;
    border: solid 1px;
}
#folders{
    width: 20%;
    height: 60%;
    border: solid 1px;
}

table{
	width: 100%	
}

#logout{
	float: right;
}
